html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
}

.wails-drag {
  --wails-draggable: drag;
}

.wails-no-drag {
  --wails-draggable: no-drag;
}

.wails-drag * {
  --wails-draggable: drag;
}

.wails-no-drag,
.wails-no-drag * {
  --wails-draggable: no-drag;
}
